@inject ISessionManagementService sessionManagementService
@using ScrumPokerClub.Services.Responses
@using ScrumPokerClub.Extensions
@using ScrumPokerClub.Data 

<div class="row mb-4">
    <RadzenChart>
        <RadzenDonutSeries Data="@votes" CategoryProperty="Size" ValueProperty="Count">
        </RadzenDonutSeries>
    </RadzenChart>
</div>
<div class="row mb-4">
    <div class="col card-group">
        <div class="card">
            <div class="card-body">
                <h1 class="card-text text-center text-muted display-4" id="min-card">@min</h1>
            </div>
            <div class="card-footer">
                <h6 class="text-center text-muted">Min</h6>
            </div>
        </div>
        <div class="card">
            <div class="card-body">
                <h1 class="card-text text-center text-muted display-4" id="mode-card">@mode</h1>
            </div>
            <div class="card-footer">
                <h6 class="text-center text-muted">Mode</h6>
            </div>
        </div>
        <div class="card">
            <div class="card-body">
                <h1 class="card-text text-center text-muted display-4" id="max-card">@max</h1>
            </div>
            <div class="card-footer">
                <h6 class="text-center text-muted">Max</h6>
            </div>
        </div>
        <div class="card">
            <div class="card-body">
                <h1 class="card-text text-center text-muted display-4" id="votes-card">@totalVotes</h1>
            </div>
            <div class="card-footer">
                <h6 class="text-center text-muted">Vote(s)</h6>
            </div>
        </div>
    </div>
</div>

@code {
    [CascadingParameter]
    public string Session { get; set; }

    string min { get; set; } = "?";
    string mode { get; set; } = "?";
    string max { get; set; } = "?";
    string totalVotes { get; set; } = "?";

    class DataItem
    {
        public string Size { get; init; }
        public int Count { get; init; }
    }

    IList<DataItem> votes { get; set; }

    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();
        votes = new List<DataItem>();
    }

    internal async Task OnTransitionToResults(object sender, TransitionToResultsResponse transitionToResultsResponse)
    {
        // todo this shouldn't be tied to a specific voting model
        min = transitionToResultsResponse.Low.HasValue ? $"{((ModifiedFibonacciVote)transitionToResultsResponse.Low.Value).Description()}" : "?";
        mode = transitionToResultsResponse.Mode.HasValue ? $"{((ModifiedFibonacciVote)transitionToResultsResponse.Mode.Value).Description()}" : "?";
        max = transitionToResultsResponse.High.HasValue ? $"{((ModifiedFibonacciVote)transitionToResultsResponse.High.Value).Description()}" : "?";
        totalVotes = $"{transitionToResultsResponse.Votes.Count()}";

        votes.Clear();
        var counts = transitionToResultsResponse.Votes
            .GroupBy(kvp => kvp.Value);

        foreach (var count in counts)
        {
            votes.Add(new DataItem()
            {
                Size = ((ModifiedFibonacciVote)count.Key).Description(),
                Count = count.Count()
            });
        }

        await InvokeAsync(() => StateHasChanged());
    }
}
