<CascadingAuthenticationState>
    <Router AppAssembly="@typeof(Program).Assembly" PreferExactMatches="@true">
        <Found Context="routeData">
            <AuthorizeRouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)" />
        </Found>
        <NotFound>
            <LayoutView Layout="@typeof(ErrorLayout)">
                <p>The page you're looking for doesn't exist. (404)</p>
            </LayoutView>
        </NotFound>
    </Router>
</CascadingAuthenticationState>
